body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: auto;
}

#nav {
    background: #000000;
    color: white;
    list-style-type: none;
    padding: 20px 0;
    text-align: center;
    position: relative;
    top: -44px;

}

#nav li {
    display: inline-block;
    margin: 0 10px;
}

#nav li a {
    color: white;
    text-decoration: none;
}

#nav li a:hover {
    color: #504f4f;
}

.header {
    position: relative;
    top: -22px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background: #424040;
    text-align:center;
  }
IMG.displayed {
    float: left;
    width: 50x;
    height: 40px
}

#content {
    margin-left: 25%;
    margin-right: 25%;
    padding-left: auto;
    padding-right: auto;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 8;

}

.table {
    width:auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -100px;
}

.form {
    padding-left: auto;
    padding-right: auto;
    position: relative;
    bottom: -200px;
}

.btn { 
    display: inline-block;
    background: black;
    color: white;
    padding: 30px 100px;
    text-decoration: 75px solid;
}

.btn:hover {
    background: #504f4f;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}